[Unit]
Description=x11vnc service
After=display-manager.service network.target syslog.target

[Service]
ExecStart=/usr/bin/x11vnc -skip_lockkeys -safer -auth /var/run/lightdm/root/:0 -display :0 
ExecStop=/usr/bin/killall x11vnc
Restart=on-failure

[Install]
WantedBy=multi-user.target
